{
	"root": true,
	"rules": {
		"semi": [
			"off",
			"always"
		],
		"quotes": [
			"warn",
			"single"
		]
	},
	"env": {
		"node": true,
		"jest": true
	},
	"extends": "eslint:recommended",
	"parser": "babel-eslint"
}
